table, th, td {
    border: 1px solid black;
    border-collapse: collapse;   
}

.hit{
    color:red
}

.miss{
    background-color: yellow;
}


.mainBoard table{
    height: 500px;
    width: 500px;
}

.subBoard table{
    height: 200px;
    width: 200px;
}


td{
    width: 10%;
    height: 10%;
    font-size: 50%;
    
}

li{
    list-style: none;
}


::backdrop {
  background-color: lightgray;
}